{% load staticfiles %} {% load humanize %}
<!doctype html>
<html lang="es-VE">
<head>
    <meta charset="UTF-8">
    <title>Quiniela Brasil 2014:: {% block titulo %} {% endblock %}</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "Quiniela/js/bootstrap.min.js" %}"></script>
    <link rel="shortcut icon" href="{% static "Quiniela/img/favicon.png" %}">
    <link rel="stylesheet" href="{% static "Quiniela/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "Quiniela/default.css" %}"/>
    {% block head %}

    {% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "en_vivo" %}"><span class="glyphicon glyphicon-home"></span>
                    Menu</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'listado_equipos' %}"><span class="glyphicon glyphicon-flag"></span> Equipos</a>
                    </li>
                    <li><a href="{% url 'listado_grupos' %}"><span class="glyphicon glyphicon-tasks"></span> Grupos</a>
                    </li>
                    <li><a href="{% url 'listado_usuarios' %}"><span class="glyphicon glyphicon-th-list"></span>
                        Usuarios</a></li>
                    <li><a href="{% url 'listado_partidos' %}"><span class="glyphicon glyphicon-calendar"></span>
                        Partidos</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="active">
                            <a href="{% url 'detalle_usuario' user.id %}"><span
                                    class="glyphicon glyphicon-user"></span> {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}
                            </a>
                        <li><a href="{% url "cargar_pronostico" %}"><span class="glyphicon glyphicon-ok"></span> Cargar
                            Pronósticos</a></li>
                        </li>
                        {% if user.is_superuser %}
                            <li><a href="/admin" target="_blank"><span class="glyphicon glyphicon-cog"></span> Admin</a>
                            </li>
                            <li><a href="{% url "simular_quiniela" %}" target="_blank"><span
                                    class="glyphicon glyphicon-random"></span> Simular Quiniela</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span> Cerrar Sesión</a>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-off"></span> Iniciar sesión</a>
                        </li>
                        <li><a href="{% url 'registro' %}"><span class="glyphicon glyphicon-pencil"></span> Registrarse</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header">
        <img src="{% static "Quiniela/img/header.es.png" %}" height="120"/>
    </div>
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% block contenido %}

    {% endblock %}
    <hr/>
    <footer>
        <p class="pull-right"><a href="#"><strong>&uarr;</strong> Arriba</a></p>

        <p class="text-center text-muted"><strong>Aled</strong> <em>Soluciones Multimedia</em> {% now "Y" %} &copy;</p>
    </footer>
</div>
</body>
</html>
